<h2><%= event[:name] %></h2>
<p>This event will be hosted by <%= event[:host] %> on <%= event[:date].strftime("%A %B %d, %Y") %> at <%= event[:address] %></p>
<p><%= event[:description] %></p>

<div id = reply>

  <h3>Thank you!</h3>

</div>